<h1>Editing Data Point Collection</h1>

<%= render 'form', data_point_collection: @data_point_collection %>

<%= link_to 'Show', @data_point_collection %> |
<%= link_to 'Back', data_point_collections_path %>
